; Main server configuration
[server]
	listen 8080
	server_name localhost
	client_max_body_size 2000000
	root /Users/shmuhamm/Desktop/webserv
	cgi_extensions .cgi .py .out
	
	[location /]
		index index.html
		limit_except GET
		autoindex true
	
	[location /put_test/]
		limit_except PUT
		autoindex true
	
	[location /post_body]
		limit_except POST
		autoindex true
	
	[location /directory]
		root /Users/shmuhamm/Desktop/webserv/YoupiBanane
		autoindex true
	
	[location /home/]
		root /Users/shmuhamm/Desktop/ws-dir/p
		index index.html
	
	[location /directory/nop]
		root /Users/shmuhamm/Desktop/webserv/YoupiBanane/nop
		autoindex true

; Second server configuration
[server]
	listen *:8090
	server_name _
	client_max_body_size 1030
	root /Users/bammar/Desktop/ws-dir
	
	[location /]
		root /home/basheer/Desktop
